a:hover {
  cursor: pointer;
}
i:hover {
  cursor: pointer;
}
.fa-trash-can:hover {
  cursor: pointer
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}